{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Best Online Food Delivery Services | MyOnlineMeal.com</title>

    <link rel="stylesheet" href="{% static 'website/css/basestyle.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bree+Serif&display=swap" rel="stylesheet">

<link rel="stylesheet" media="screen and (max-width: 1240px)" href="{% static 'website/css/phone.css' %}">

</head>

<body>

 

    <section id="paybar">

        <div class="logo">

            <img src="{% static 'website/img/logo3.png' %}" alt="MyOnlineMeal.com">

        </div>

        <h2>You have to pay ₹<h2>0</h2></h2>

        <button class="pay">Pay</button>

        

        </section>

 

    <section id="home">

        <h1 class="h-primary">Recipe</h1>

        <p>Paneer butter masala, also known as butter paneer is a rich & creamy curry made with paneer, spices, onions, tomatoes, cashews and butter. As the name denotes, the curry is cooked in butter which imparts it's characteristic buttery flavor to the dish</p>

    </section>

 

    <section id="services-container">

 

        

        <div class="ingredients">

            <h1 class="h-primary">ingredients</h1>

            

<label class="container">Paneer

  <input type="checkbox" checked="checked">

  <span class="checkmark"></span>

</label>

<label class="container">Butter

  <input type="checkbox">

  <span class="checkmark"></span>

</label>

<label class="container">Onion

  <input type="checkbox">

  <span class="checkmark"></span>

</label>

<label class="container">Garlic

  <input type="checkbox">

  <span class="checkmark"></span>

</label>

        </div>




        <div clas="recipe">

            <div class="recip-c">

            <h1 class="h-primary">instructions</h1>

            <p>
                1. If using store bought paneer, pour 2 cups of hot water to a bowl. Add paneer cubes & rest for about 15 to 20 mins. Later drain the water and set aside. This will soften the paneer. I use this homemade paneer, so I skip this step.
                <br> 
                2. Pour 1 tablespoon oil to a hot pan. Add 2 green cardamoms & 1 cup cubed onions. Saute them on a medium flame till they turn transparent or lightly pink in color. This takes just 4 minutes.
                <br>
                3. Next add the following:<br>    
                    1½ cups finely chopped tomatoes<br>
                    ¾ teaspoon salt. Again saute for 2 to 3 minutes. Then cover the pan and cook till mushy.<br>
                4. When the tomatoes and onions are completely soft cooked & mushy, add the following:<br>    
                    ¾ to 1 teaspoon red chili powder (low heat variety)<br>
                    ¾ to 1 teaspoon garam masala<br>
                    1 teaspoon coriander powder (optional)<br>
                    12 to 14 cashews<br>
                    ¾ teaspoon sugar (optional, to balance the flavors)<br>                
            </p>

        </div>

 

        </div>

            

           

       

   

    

    </section>

 

    <section class="description">

        <h1 class="h-primary"></h1>

 

   

 

<footer>

    <div class="bottom">

        Copyright &copy; www.myOnlineMeal.com. All rights reserved!

    </div>

</footer>

</body>

</html>